<!-- Navbar-->
<!-- <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" [containerInside]="false">

    <!-- Navbar brand -->
<!-- <logo><a class="navbar-brand" routerLink="">Prakash</a></logo>

    <!-- Collapsible content -->
<!-- <links> -->

<!-- Links -->
<!-- <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light"  routerLink="" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Features</a> -->
<!-- </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
            </li>  -->
<!-- Dropdown -->
<!-- <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Employee<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="registration">Registration</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="search">search</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="cashTransfer">Cash Transfer</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="employeeAllocation">site allocation</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="employeeAttendence">Attendence</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="payment">Payment</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="paymentSummary">Payment Summary</a>
                </div>
            </li> -->

<!-- </ul>
        <!-- Links -->

<!-- <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!-- <a class="nav-link waves-light" routerLink="login" mdbWavesEffect >Log In</a> -->
<!-- <app-login></app-login>
            </li>
        </ul> -->
<!-- Search form -->

<!-- </links> -->
<!-- Collapsible content -->

<!-- </mdb-navbar> -->
<!--/.Navbar -->


<nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
    <span class="navbar-toggler-icon leftmenutrigger"></span>
    <a class="navbar-brand" href="#">Prakash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav animate side-nav nano ">
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="material-icons">home</i> Home
                    <span class="badge badge-primary">10+</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    <i class="material-icons">group</i> Employee
                </a>
                <div class="dropdown-menu" >
                    <a class="dropdown-item" routerLink="registration">Create Employee</a>
                    <a class="dropdown-item" routerLink="search">Search Employee</a>
                    <a class="dropdown-item" routerLink="employeeAttendence">Attendence</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="cashTransfer">
                    <i class="material-icons">payment</i> Cash Transfer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="paymentSummary">
                    <i class="material-icons">description</i> Payment Summery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="employeeAllocation">
                    <i class="material-icons">location_on</i> Site Allocation</a>
            </li>
            <li class="label">Menu</li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="material-icons">add_box</i> Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="material-icons">add_box</i> Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="material-icons">add_box</i> Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="material-icons">add_box</i> Accounts</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-md-auto d-md-flex">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="material-icons">settings</i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="material-icons">notifications</i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                    <i class="material-icons">apps</i>
                </a>
                <div class="dropdown-menu dropdown-menu-right menu-02">
                    <div class="list">
                        <div class="content">
                            <div class="row">
                                <div class="col">
                                    <a class="connection-item" href="#">
                                        <i class="material-icons">verified_user</i>
                                        <span>Security</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="connection-item" href="#">
                                        <i class="material-icons">account_balance</i>
                                        <span>Accounts</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="connection-item" href="#">
                                        <i class="material-icons">extension</i>
                                        <span>Add-on</span>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col">
                                    <a class="connection-item" href="#">
                                        <i class="material-icons">apps</i>
                                        <span>Dribbble</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="connection-item" href="#">
                                        <i class="material-icons">apps</i>
                                        <span>Mail Chimp</span>
                                    </a>
                                </div>
                                <div class="col">
                                    <a class="connection-item" href="#">
                                        <i class="material-icons">apps</i>
                                        <span>Dropbox</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <a href="#">More</a>
                    </div>
                </div>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                    <i class="material-icons">account_circle</i>
                </a>
                <div class="dropdown-menu dropdown-menu-right menu-01">
                    <div class="user-info">
                        <div class="user-name">Admin</div>
                        <div class="user-email">admin@prakash.com</div>
                    </div>
                    <a class="dropdown-item" href="#">
                        <span class="material-icons md-18">account_circle</span> Accounts</a>
                    <a class="dropdown-item" href="#">
                        <i class="material-icons md-18">settings</i> Settings</a>
                    <a class="dropdown-item" href="#">
                        <i class="material-icons md-18">power_settings_new</i> Logout</a>
                </div>
            </li> -->
        </ul>
    </div>
</nav>