<!-- Card -->
<div class="card">

  <!-- Card body -->
  <div class="card-body mt-4">
    <h4 class="card-title text-center">Create Employee</h4>
    <!-- Material form register -->
    <form [formGroup]="cardForm" (ngSubmit)="SaveData(cardForm.value)">

      <!-- Material input text -->
      <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="empName" formControlName="empName" class="form-control" mdbInputDirective>
        <label for="empName" class="font-weight-light">Employee name</label>
      </div>

      <!-- Material input email -->
      <div class="md-form">
        <i class="fa fa-suitcase prefix grey-text"></i>
        
        <!--Blue select-->
        <select id="empType" class="mdb-select form-control" formControlName="empType" mdbInputDirective>
          <option  *ngFor="let type of employeetype" [value]="type.type_id">{{type.employee_type_name}}</option>
        </select>
        <label for="empType" class="font-weight-light">Work Type</label>
        <!--/Blue select-->

      </div>


      <!-- Material input password -->
      <div class="md-form">
        <i class="fa fa-lock prefix grey-text"></i>
        <input type="text" id="aadar" formControlName="aadarNumber" class="form-control"
          mdbInputDirective>
        <label for="aadar" class="font-weight-light">Aadhaar number</label>
      </div>

      <div class="md-form">
        <i class="fa fa-file prefix grey-text"></i>
        <input type="text" id="insurance" formControlName="insuranceNumber" class="form-control"
          mdbInputDirective>
        <label for="insurance" class="font-weight-light">Insurance number</label>
      </div>
      <div class="md-form">
        <i class="fa fa-file prefix grey-text"></i>
        <input type="number" id="contactno" formControlName="contactno" class="form-control"
          mdbInputDirective>
        <label for="contactno" class="font-weight-light">Contact number</label>
      </div>
      <div class="md-form">
        <i class="fa fa-address-card prefix grey-text"></i>
        <textarea mdbInputDirective type="text" id="address" formControlName="address" class="md-textarea form-control" rows="3"></textarea>
        <label for="address" class="font-weight-light">Address</label>
      </div>

      <!-- <div class="md-form">
        <i class="fa fa-address-card prefix grey-text"></i>
        <label for="file-upload">Upload Image</label>
        <input type="file" id="file-upload" formControlName="fileupload" class="custom-file-input form-control" mdbInputDirective>
        <label class="custom-file-label " for="file-upload">Choose file...</label>
        
      </div> -->


      <div class="text-center py-4 mt-3">
        <button class="btn btn-pink waves-light" [disabled]="cardForm.invalid" type="submit" mdbWavesEffect>Save</button>
        <button type="button" class="btn btn-warning" (click)="cardForm.reset()">Reset</button>
      </div>
    </form>
    <!-- Material form register -->

  </div>
  <!-- Card body -->

</div>
<!-- Card -->
